.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}

.pt-30{
    padding-top: 30px;
}

.pt-100 {
    padding-top: 100px;
}

.p-btn{
    padding: var(--btn-padding);
}

.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}

.pb-10{
    padding-bottom: 10px;
}

.pb-20{
    padding-bottom: 20px;
}

.pb-30{
    padding-bottom: 30px;
}

.pt-5{
    padding-top: 5px;
}

.pt-10{
    padding-top: 10px;
}

.pt-20{
    padding-top: 20px;
}


.br-50{
    border-radius: 50%;
}

.br-25px{
    border-radius: 25px;
}
.br-10px{
    border-radius: 10px;
}
.br-5px{
    border-radius: 5px;
}

.bd{
    border: var(--border);
}
.g-5{
    gap: 5px;
}
.c-g-10{
    column-gap: 10px;
}
.cover{
    object-fit: cover;
}

.obj-cover{
    object-fit: cover;
}

.g-10{
    gap: 10px;
}

.m-10{
    margin: 10px;
}

.m-auto{
    margin: 0 auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-18{
    font-size: 18px;
}

.fw-600{
    font-weight: 600;
    color: rgba(#fdfdfd, 0.7);
}

.c-p{
    color: var(--primary-color)
}
