.ab{
    position: absolute;
    transition: var(--transition);
    overflow: hidden;

}

.r-10{
    top: 10px;
    z-index: 1;
    right: 10px;
}

.r-5{
    top: 5px;
    z-index: 1;
    right: 5px;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    
}


